@model List<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <td width="50%">
                    @category.Name
                </td>
                <td width="30%">
                    @category.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>

